*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(50, 8, 85);
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    height: 550px;
    border: 5px solid wheat;
    border-radius: 7px;
    background-color: rgb(74, 10, 65);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
/* .head{
    text-align: center;
} */
 .ans{
    margin-top: 20px;
    color: #ffffff;
    max-height: 100%;
    overflow: scroll;
    max-width: 200px;
    padding: 40px;
    width: 70%;

 }

input{
    width: 75%;
    box-sizing: border-box;
    height: 40px;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 20px;
    outline: none;
    padding: 10px;
    border: none;
}
button{
    width: 20%;
    padding: 10px;
    background-color: rgb(158, 222, 9);
    border: none;
    margin-top: 30px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;

}
p{
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}